.info{
    margin: 0 9.5rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 2rem 0;
}

.info div{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
}

button{
    width: 100%;
}