.content{
    padding: 2.5rem 0;
    text-align: center;
}

.content ul{
    margin: 2rem 0;
    display: flex;
    gap: 5rem;
    justify-content: center;
    text-align: center;
}

.content p{
    text-transform: uppercase;
}

.content button{
    width: 40%;
}

@media screen and (max-width: 320px) {
    .content{
        padding: 0;
    }

    .content h2, .content button{
        display: none;
    }

    .content li img{
        width: 2rem;
        height: 2rem;
    }

    .content ul{ 
        gap: 1rem;
    }
}