.content{
    padding: 2.5rem 0;
    margin: 0 9.5rem;
    text-align: center;
}

.content ul{
    margin: 2rem 0;
    display: flex;
    gap: 5rem;
   justify-content: center;
   text-align: center;
}

.content p{
    text-transform: uppercase;
}

.content button{
    width: 40%;
}

@media screen and (max-width: 320px) {
    .content{
        margin: 0 0.5rem;
    }

    .content h2, .content button{
        display: none;
    }

    .content li img{
        width: 32px;
        height: 32px;
    }

    .content ul{ 
        gap: 1rem;
    }

    .content p{
        font-size: 14px;
    }
}