.container h2{
   padding-bottom: 1.2rem;
}

.number{
    color: var(--gray-50);
}


.container div{
    background: var(--yellow-10);
    border-radius: 4px;
}

.container li{
    display: flex;
    gap: 1rem;
    margin: 0 2rem;
    padding: 1.625rem 0;
    border-bottom: 1px solid var(--gray-25);
}

.container li:last-child{
    opacity: 0.5;
    border: none;
}

.container li:last-child p{
    display: none;
}

.container li:last-child {
    padding-bottom: 0;
}

.container p{
    color: var(--gray-50);
}

.container h3{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.button{
    text-align: center;
    padding-bottom: 2rem;
}

.container button{
    width: 20%;
}

.mobile, .mobileIcon, .mobileStar, .mobileForm{
    display: none;
}

@media screen and (max-width: 320px) {
    .mobile, .mobileIcon, .mobileStar, .mobileForm{
        display: block;
    }

    .desktop{
        display: none;
    }

    .number{
        color: var(--gray-25);
    }

    .container li div:nth-child(2){
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mobile{
        color:  var(--white);
        font-size: 1rem;
    }

    .title{
        display: none;
    }

    .container li{
        align-items: center;
        border-bottom: 1px solid var(--gray-100);
        margin: 0 1rem;
        padding: 0.6875rem 0;
    }

    .container li:nth-child(4) {
       border: none;
    }

    .container li:last-child {
        display: none;
    }
    
    .container div{
        background-color: transparent;
        color: var(--gray-25);
    }

    .container ul h2{
        font-size: 1rem;
        padding-bottom: 0;
    }
    
    .container ul h3{
        text-transform: none;
        color: var(--gray-50);
        font-size: 0.875rem;
        padding-bottom: 0;
        letter-spacing: normal;
    }

    .container p{
        display: none;
    }

    .button button{
        width: 100%;
        border: 2px solid var(--gray-25);
        border-radius: 4px;
        background-color: transparent;
        color: var(--gray-25);
        padding: 0.75rem 0.5rem;
    }
}

