.container{
    margin: 0 9.5rem;
}

.container h2{
   padding-bottom: 1.2rem;
}

.container div{
    background: #F6F4EF;
    border-radius: 4px;
}

.container li{
display: flex;
gap: 1rem;
margin: 0 2rem;
padding: 1.625rem 0;
border-bottom: 1px solid #D8D7CE;
}

.container li:last-child{
    opacity: 0.5;
    border: none;
}

.container li:last-child p{
    display: none;
}

.container li:last-child {
    padding-bottom: 0;
}

.container p, .title{
    color: #858479;
}

.container h3{
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.button{
    text-align: center;
    padding-bottom: 2rem;
}

.container button{
    width: 20%
}

.mobile, .mobileIcon, .mobileStar{
    display: none;
}

@media screen and (max-width: 320px) {
    .mobile, .mobileIcon, .mobileStar{
        display: block;
    }

    .container li div:nth-child(2){
        width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .mobile{
        color:  #FFFFFF;
        font-size: 1rem;
    }

    .title{
        display: none;
    }

    .container{
        margin: 0 0.5rem;
    }

    .container li{
        align-items: center;
        border-bottom: 1px solid #1D1A05;
    }

    .container li:nth-child(4) {
       border: none;
    }

    .container li:last-child {
       display: none;
    }

    .container div{
        background-color: transparent;
        color: #D8D7CE;
    }

    .container ul h2{
        font-size: 16px;
        padding-bottom: 0;
    }
    
    .container ul h3{
        color: #858479;
        font-size: 14px;
        padding-bottom: 0;
    }

    .container p{
        display: none;
    }

    .button button{
        width: 100%;
        border: 2px solid #D8D7CE;
        border-radius: 4px;
        background-color: transparent;
        color: #D8D7CE;
        padding: 0.75rem 0.5rem;
    }
}

