.header{
    filter: drop-shadow(0px 2px 8px #000000);
    max-height: 2.5rem;
    position: relative;
    z-index: 20;
    position: relative;
    z-index: 20;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);;
}

.container{
    margin: 0 9.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    padding: 0.6rem 0;
}

.container div {
text-align: end;
}

.navegation{
    position: relative;
    z-index: 20;
}

.navegation ul{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.dropdown{
    position: relative;
}


.user{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user p{
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #858479;
}

.user strong{
    color: #D8D7CE;
}

.dropdownItems{
    position: absolute;
    background-color: wheat;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 0 0 4px 4px;
    padding-right: 2rem;
    width: 200px ;
    right: 0.5rem;
    z-index: 1;
    right:  9.5rem;
    padding-top: 1.2rem;
    padding-bottom: 0.75rem;
}

.dropdownItems li{
    list-style: none;
    text-align: end;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #858479;
    cursor: pointer;
}

.dropdownItems li:last-child{
    border-top: 1px solid #F2ECC9;
    padding-top: 0.75rem;
}

.dropdownItems li:nth-child(2){
    color:#C5AF19;
}


