.container{
display: grid;
grid-template-columns: 1fr 1fr; 
align-items: center;
align-content: center;
justify-content: center;
max-height: 2.5rem;
}

.container div {
text-align: end;
}

.navegation ul{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}