.container{
    background-image: url('../../assets/endBg.svg');
    background-repeat: no-repeat;
}

.contentContainer{
padding-top: 3.5rem;
padding-bottom: 4rem;
color: #FFFFFF;
}

.contentContainer h3{
padding-top: 2.5rem;
padding-bottom: 4rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    
}

.btn{
    text-align: center;
}

button{
    width: 25%;
}
