.container{
    margin: 0 9.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.total{
    display: flex;
    gap: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.total strong{
    font-weight: 400;
    color: var(--yellow-100);
}

.total p{
    color: var(--gray-50);
}

.commentContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--gray-50);
}

.commentContainer:last-of-type{
    border: none;
}

.profile{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile p{
    color: var(--black);
    background: var(--gray-50);
    border-radius: 50%;
    padding: 1rem;
    width: 48px;
    height: 48px;
    font-size: 28px;
}

.comment h3{
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-25);
    text-transform: uppercase;
}

.commentAuthor{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0.75rem;
    padding-top: 1.5rem;
}

.commentTime{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
}

.commentTime p {
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--gray-50);
}

.commentContent {
    font-size: 1rem;
    color: var(--gray-25);
    line-height: 1.25rem;
    padding-bottom: 1rem;
}

.response, .responseAuthor{
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--gray-50);
}

.response{
    border-top: 1px solid rgba(133,132,121,0.5);
    padding-top: 0.6875rem;
}

.team{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--yellow-100);
}

.responseAuthorContainer{
    display: flex;
    align-items: center;
    gap:0.25rem;
    padding-top: 0.5rem;
}

.author{
    color: var(--yellow-20);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--yellow-100);
}

.btn{
    text-align: center;
    margin: 1rem auto 3rem;
    width: 20%;
}

.mobile{
    display: none;
}

@media screen and (max-width: 320px) {
    .container{
        margin: 0 0.5rem
    }

    .container h2{
        font-size: 1rem;
    }

    .total{
        display: none;
    }

    .commentContainer{
        display: none;
    }

    .container ul{
        padding-top: 0.5rem;
        display: flex;
        gap: 0.5rem ;
        width: calc(275px * 3);
    }

    .mobile{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background: var(--white);
        border-radius: 4px;
        padding: 0.5rem;
        animation: scroll 80s linear 0.5s infinite alternate ;
		width: 275px;
    }
    
    .mobile p, .mobile h3{
        color: var(--black);
    }


    .mobile p{
        font-size: 14px;
    }

    .mobile h3{
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        text-align: end;
        padding-bottom: 0;
    }

    .btn{
        display: none;
    }

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 1.5))}
    }
}