.hero{
   text-align: center;
   position: relative;
   background-image: url("./assets/hero.svg");
   background-repeat: no-repeat;
   height: 480px;
    width: 1136px;
    margin: auto;
}

.hero div{
    position: absolute;
    left: calc(50% - 368px/2 - 0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
    bottom: 0px;
}

.hero h1, .hero h2, .hero strong{
font-weight: 400;
text-transform: uppercase;
}

.hero h1{
    margin: 0;
font-size: 2.25rem;
color: #FFFFFF;
}

.hero h2{
    margin: 0;
    font-size: 1.75rem;
    color: #858479;
}

.hero strong{
color: #999999
}

.info{
    margin: 0 9.5rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 2rem 0;
}

.info div{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
}

.content{
    padding: 2.5rem 0;
    margin: 0 9.5rem;
    text-align: center;
}

.content ul{
    margin: 2rem 0;
    display: flex;
    gap: 5rem;
   justify-content: center;
   text-align: center;
}

.content p{
    text-transform: uppercase;
}

.content button{
    width: 40%;
}

/* Gerais */

:global(.container) {
  margin: 0 9.5rem
}