@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
  background-color: #000000;
}

header{
  margin: 0 9.5rem;
}

a{
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #858479;
}

p{
  font-size: 1.25rem;
  color: #FFFFFF;
}

button{
  background: #C5AF19;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  padding: 0.875rem 1rem;
  text-transform: uppercase;
  border:none;
}

h2{
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #D8D7CE;
}

