@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black:#000000;
  --white: #FFFFFF;
  --yellow-100: #C5AF19;
  --yellow-20: #F2ECC9;
  --yellow-10: #F6F4EF;
  --yellow-5: #FBFAF7;
  --gray-100: #1D1A05;
  --gray-75: #666666;
  --gray-50: #858479;
  --gray-40: #999999;
  --gray-25: #D8D7CE;

  font-family: 'Lato', sans-serif;
  background-color: var(--black);

}

h1{
  margin: 0;
  font-size: 2rem;
  color: var(--white);
  letter-spacing: 2px;
}

h2{
  font-weight: 400;
  font-size: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--gray-25);
}

p{
  font-size: 1rem;
  color: var(--white);
}

a{
  text-decoration: none;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--gray-50);
}

button{
  background: var(--yellow-100);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  padding: 0.875rem 1rem;
  text-transform: uppercase;
  border:none;
  font-family: 'Lato', sans-serif;
}


.buttonSecondary{
  border: 2px solid var(--gray-100);
  border-radius: 4px;
  background-color: transparent;
  color: var(--gray-100);
  padding: 0.75rem 0.5rem;
}

.buttonSecondaryWhite{
  border: 2px solid var(--gray-25);
  border-radius: 4px;
  background-color: transparent;
  color: var(--gray-25);
  padding: 0.75rem 0.5rem;
}

@media screen and (max-width: 320px) {
  h1{
    font-size: 1.75rem;
  }

  h2{
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 0;
  }

  button{
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
  }
}
