.container{
    margin: 0 9.5rem;
    background: var(--yellow-5);
    border-radius: 4px;
}

.featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.625rem;
    margin-right: 2.5rem;
}

.featured img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured h2{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: var(--gray-100);
    margin: 0;
    text-align: start;
}

.featured p{
    padding-top: 0.5rem;
    font-size: 1rem;
    color: var(--gray-50);
}

.featured ul{
    margin: 1.5rem 0;
    display: flex;
    padding: 0;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.options:nth-child(2),
.options:nth-child(3) {
    opacity: 0.5;
}

.options{
    cursor: pointer;
    list-style: none;
    max-width: 149px;
    max-height: 80px;
    object-fit: cover;
}

.options p{
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray-100);
}

@media screen and (max-width: 520px){
    .container{
        margin: 0 0.5rem;
        max-height: 320px;
        background: transparent;
        border-radius: 0;
        }

    .featured{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-right: 0;
        text-align: center;
    }

    .featuredImg{
        display: none;
    }

    .featured h2{
        padding-top: 0;
        font-size: 1rem;
        color: var(--white);
        text-align: center;
        padding-bottom: 0.75rem;
    }

    
    .featured p{
        padding-top: 0rem;
        font-size: 0.875rem;
    }

    .featured ul{
        width: 450px;
        gap: 0.5rem;
    }

    .featured ul li{
        width: 140px;
        height: 80px;
    }

}

